In [95]:
import pandas as pd
import numpy as np
from pathlib import Path

In [197]:
def generate_site_files(path_to_master_csv: str, printOutput=False):
    """
    This function generates separate csv files for each station found in the master_csv. 
    
    path_to_master_csv: (string) that contains path to the 2017-2.csv file 
    
    return: new csv file for each unique station found in the master_csv.
        Filename is 2017-(StationID).csv
    """
    
    try:
        # Use Path class for compatibility with both Unix and Windows platforms
        # Ensure file path exists
        path_to_master_csv = Path(path_to_master_csv)
        if Path.exists(path_to_master_csv) == False: 
            raise ValueError
    
         # Open and read the file into a pandas csv
        master_file = pd.read_csv(path_to_master_csv)
        print(f"Reading {path_to_master_csv} ... ")

        # Grab unique stations 
        unique_stations = master_file.StationID.unique()

        for i in np.nditer(unique_stations):

            # Create a csv for the current station
            # Write all entries for current station in one file
            curr_file = open(Path(f"2017-{i}.csv"), 'w')
            curr_series = master_file[master_file.StationID == i]
            curr_series.to_csv(curr_file)

            # Inform user of progress
            print(f"Entries for StationID: {i}")
            print("=" * 30)
            print(f"Contains {len(curr_series)} entries")

            if printOutput:
                print(master_file[master_file.StationID == i])
                print("\n\n\n")    
            print("\n")

            curr_file.close()

        print("Successfully Separated all Stations into individual CSVs")
        
    # If bad input catch and prompt user with appriopiate error
    except TypeError:
        print("Path_to_master_csv in must be a string...")
        return
    
    except ValueError:
        print(f"{path_to_master_csv} is not a valid path...")
        return
    
    except Exception:
        print("Something unexpected happened... Something might be on fire!!")
        return

In [196]:
generate_site_files("2017-2.csv")

Path_to_master_csv in must be a string...

In [476]:
def one_hot_encode_months():
    pass

In [556]:
test = pd.read_csv("2017-330.csv")
test.local_eastern_time[0][3:6] # give value I looking for
times = test.local_eastern_time.values
months = np.array([],dtype=str)

# If there is no Month Column
# Iterate through file only once ever (add column to avoid redoing the same computation)
# Map Months to One-Hot encoded integers

# Preform lookup and monthly stats

for i in range(0, len(test), 800):
    cur_month = times[i][3:6]
    months= np.append(months, cur_month)
    
    print(cur_month, ('Jan' in month))

Jan False
Jan False
Jan False
Jan False
Feb False
Feb False
Feb False
Feb False
Mar False
Mar False
Mar False
Apr False
Apr False
Apr False
Apr False
May False
May False
May False
May False
Jun False
Jun False
Jun False
Jul False
Jul False
Jul False
Jul False
Aug False
Aug False
Aug False
Aug False
Sep False
Sep False
Sep False
Oct False
Oct False
Oct False
Oct False
Nov False
Nov False
Nov False
Nov False
Dec False
Dec False
Dec False

In [656]:
months
uni_index = np.unique(months,return_index=True)[1]
uni = [months[index] for index in sorted(uni_index)]
x = [i for i in range(len(uni))]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [645]:
# mon = pd.DataFrame()
mon = pd.DataFrame({'Months':['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep','Oct', 'Nov', 'Dec']})
# pd.get_dummies(test, prefix='Months', drop_first=True)
# for i in range(len(months)):
#     mon.append( {'Months': months[i]},ignore_index=True)
data = pd.Series(data=months, name="Step")
# mon.append(data, ignore_index=True)
freq = data.groupby(data).size()

# print(freq)
# mon.append({'Counts':freq}, ,ignore_index=True)
# mon = pd.concat([mon,freq], ignore_index=True, , join='outer')
mon.merge(freq,how="inner")

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

In [586]:
# pd.get_dummies(mon, prefix='Months')
mon

   Months
0     Jan
1     Feb
2     Mar
3     Apr
4     May
5     Jun
6     Jul
7     Aug
8     Sep
9     Oct
10    Nov
11    Dec

In [566]:
# pd.get_dummies(test,prefix=['Months'])
safe = test.copy(deep=True)

safe = pd.concat([safe, mon])
safe

/home/hameed/.pyenv/versions/anaconda3-2.5.0/envs/open3d/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

,Months,StationID,Unnamed: 0,local_eastern_time,rain_2m_inches,rfd_2m_wm2,rh_2m_pct,temp_air_10m_C,temp_air_2m_C,temp_air_60cm_C,temp_dp_2m_C,temp_soil_10cm_C,wind_direction_10m_deg,wind_speed_10m_mph
0,NaN,330.0,0.0,01-Jan-2017 00:00:00,0.0,0.001,86.4,15.95,15.90,14.40,13.63,18.12,176.5,0.903
1,NaN,330.0,1.0,01-Jan-2017 00:15:00,0.0,0.000,87.9,16.03,15.46,14.08,13.47,18.06,157.4,1.571
2,NaN,330.0,2.0,01-Jan-2017 00:30:00,0.0,0.000,89.1,16.07,15.39,14.01,13.60,17.99,153.1,1.687
3,NaN,330.0,3.0,01-Jan-2017 00:45:00,0.0,0.000,89.8,15.81,15.19,13.96,13.53,17.93,160.3,1.221
4,NaN,330.0,4.0,01-Jan-2017 01:00:00,0.0,0.000,90.6,15.68,15.06,13.90,13.54,17.87,175.6,1.207
5,NaN,330.0,5.0,01-Jan-2017 01:15:00,0.0,0.000,91.4,15.85,15.31,14.11,13.92,17.81,165.0,1.096
6,NaN,330.0,6.0,01-Jan-2017 01:30:00,0.0,0.000,91.8,15.86,15.36,14.10,14.03,17.75,166.4,0.981
7,NaN,330.0,7.0,01-Jan-2017 01:45:00,0.0,0.000,92.2,15.67,15.22,13.95,13.96,17.69,170.1,0.691
8,NaN,330.0,8.0,01-Jan-2017 02:00:00,0.0,0.000,92.7,15.35,15.14,13.82,13.97,17.63,140.4,0.631
9,NaN,330.0,9.0,01-Jan-2017 02:15:00,0.0,0.000,93.1,15.29,14.91,13.63,13.81,17.58,153.8,0.782
10,NaN,330.0,10.0,01-Jan-2017 02:30:00,0.0,0.000,93.5,15.26,14.90,13.58,13.86,17.52,125.6,0.744
11,NaN,330.0,11.0,01-Jan-2017 02:45:00,0.0,0.000,93.7,15.25,14.67,13.42,13.67,17.46,100.8,0.928
12,NaN,330.0,12.0,01-Jan-2017 03:00:00,0.0,0.000,94.0,15.08,14.65,13.35,13.70,17.41,115.6,0.993
13,NaN,330.0,13.0,01-Jan-2017 03:15:00,0.0,0.000,94.3,15.13,14.55,13.23,13.64,17.35,117.1,1.126
14,NaN,330.0,14.0,01-Jan-2017 03:30:00,0.0,0.000,94.6,15.06,14.64,13.48,13.78,17.30,112.8,1.115
15,NaN,330.0,15.0,01-Jan-2017 03:45:00,0.0,0.000,94.7,14.97,14.47,13.21,13.63,17.25,102.3,1.084
16,NaN,330.0,16.0,01-Jan-2017 04:00:00,0.0,0.000,94.9,14.52,14.13,13.09,13.33,17.20,87.5,2.363
17,NaN,330.0,17.0,01-Jan-2017 04:15:00,0.0,0.000,95.1,14.13,13.83,12.88,13.06,17.15,83.6,3.205
18,NaN,330.0,18.0,01-Jan-2017 04:30:00,0.0,0.000,95.2,14.04,13.63,12.60,12.88,17.10,88.5,3.007
19,NaN,330.0,19.0,01-Jan-2017 04:45:00,0.0,0.000,95.4,14.09,13.55,12.48,12.83,17.06,112.8,2.028
20,NaN,330.0,20.0,01-Jan-2017 05:00:00,0.0,0.000,95.7,14.45,13.97,12.79,13.29,17.02,109.7,1.926
21,NaN,330.0,21.0,01-Jan-2017 05:15:00,0.0,0.000,95.7,14.60,14.12,12.94,13.44,16.98,122.0,1.144
22,NaN,330.0,22.0,01-Jan-2017 05:30:00,0.0,0.000,95.8,14.58,13.89,12.78,13.23,16.94,128.4,1.402
23,NaN,330.0,23.0,01-Jan-2017 05:45:00,0.0,0.000,95.9,14.58,13.79,12.69,13.15,16.90,123.5,0.981
24,NaN,330.0,24.0,01-Jan-2017 06:00:00,0.0,0.000,95.8,14.15,13.42,12.42,12.76,16.86,82.0,0.714
25,NaN,330.0,25.0,01-Jan-2017 06:15:00,0.0,0.000,96.1,14.28,13.43,12.35,12.82,16.82,131.2,1.256
26,NaN,330.0,26.0,01-Jan-2017 06:30:00,0.0,0.000,96.2,14.60,13.90,12.63,13.30,16.79,115.4,1.734
27,NaN,330.0,27.0,01-Jan-2017 06:45:00,0.0,0.000,96.2,14.58,14.22,13.13,13.62,16.75,115.1,1.774
28,NaN,330.0,28.0,01-Jan-2017 07:00:00,0.0,0.047,96.3,14.68,14.40,13.13,13.82,16.71,96.3,1.620
29,NaN,330.0,29.0,01-Jan-2017 07:15:00,0.0,1.017,96.4,14.76,14.54,13.27,13.97,16.68,102.7,1.386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35022,NaN,330.0,35022.0,31-Dec-2017 19:30:00,0.0,0.000,79.0,16.99,15.91,14.56,12.27,20.09,138.7,1.874
35023,NaN,330.0,35023.0,31-Dec-2017 19:45:00,0.0,0.000,82.6,16.72,15.66,14.30,12.71,19.96,155.3,1.047
35024,NaN,330.0,35024.0,31-Dec-2017 20:00:00,0.0,0.000,83.6,16.39,15.88,14.50,13.11,19.84,170.0,0.836
35025,NaN,330.0,35025.0,31-Dec-2017 20:15:00,0.0,0.000,82.8,16.09,15.74,14.42,12.83,19.71,165.7,0.880
35026,NaN,330.0,35026.0,31-Dec-2017 20:30:00,0.0,0.000,83.6,15.87,15.62,14.37,12.85,19.60,169.8,0.586
35027,NaN,330.0,35027.0,31-Dec-2017 20:45:00,0.0,0.000,84.2,15.77,15.54,14.20,12.89,19.48,181.5,0.632
35028,NaN,330.0,35028.0,31-Dec-2017 21:00:00,0.0,0.000,85.0,15.82,15.49,14.19,12.98,19.38,195.4,0.731
35029,NaN,330.0,35029.0,31-Dec-2017 21:15:00,0.0,0.000,84.9,15.95,15.45,14.28,12.92,19.28,153.6,1.454
35030,NaN,330.0,35030.0,31-Dec-2017 21:30:00,0.0,0.000,85.1,16.00,15.69,14.55,13.20,19.19,90.6,1.835
35031,NaN,330.0,35031.0,31-Dec-2017 21:45:00,0.0,0.000,83.5,15.90,15.88,14.89,13.09,19.10,207.9,1.185
35032,NaN,330.0,35032.0,31-Dec-2017 22:00:00,0.0,0.000,82.9,16.00,15.93,14.88,13.03,19.02,157.9,2.201
35033,NaN,330.0,35033.0,31-Dec-2017 22:15:00,0.0,0.000,82.6,15.95,16.16,15.16,13.20,18.95,167.1,2.662
35034,NaN,330.0,35034.0,31-Dec-2017 22:30:00,0.0,0.000,79.5,15.72,16.04,15.19,12.50,18.90,165.7,3.030
35035,NaN,330.0,35035.0,31-Dec-2017 22:45:00,0.0,0.000,79.1,15.45,15.83,14.90,12.22,18.84,176.6,1.706
35036,NaN,330.0,35036.0,31-Dec-2017 23:00:00,0.0,0.000,80.1,15.22,15.57,14.62,12.15,18.78,166.1,1.566
35037,NaN,330.0,35037.0,31-Dec-2017 23:15:00,0.0,0.000,81.2,15.10,15.41,14.48,12.21,18.73,161.0,1.803
35038,NaN,330.0,35038.0,31-Dec-2017 23:30:00,0.0,0.000,80.1,15.22,15.62,14.92,12.20,18.69,163.8,2.515
35039,NaN,330.0,35039.0,31-Dec-2017 23:45:00,0.0,0.000,80.0,15.23,15.66,14.99,12.22,18.64,164.5,2.327
0,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Jun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Jul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aug,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Sep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Oct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN